*{
    box-sizing: border-box;
    margin: 0;
    color: white;
}



body{
    background-image: url(../img/img01.jpg);
    background-size: cover;
}

.celular{
    text-align: center;
    margin: 3vh 40vw 0 40vw;
    padding-bottom: 6vh;
    background-image: linear-gradient(to right, rgb(226, 57, 122), rgb(116, 19, 72));
    border-radius: 25px;
    border: solid black 2px;
}


video {
    width: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 6px 5px white;

}

footer{
    background-color: rgb(123, 31, 126);
    text-align: center;
    margin-top: 5px;
}
